doctype html
html(lang='en')
	head
		title Clinky App
		meta(charset="utf-8" name="description" content="Your social nightlife, redefined.")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		link(rel="stylesheet" href="./stylesheets/main.css" charset="utf-8")
	body
		#initial
			.topbar
				h1.title.brand Clinky
				a.button#download(href="#") DOWNLOAD
			.tagline
				h1.title Your Social Nightlife
				h1.title Redefined
		#screens
			img.screen(src="./static/clinkyScreenshots/loading.png")
			img.screen(src="./static/clinkyScreenshots/login.png")
			img.screen(src="./static/clinkyScreenshots/map.png")
			img.screen(src="./static/clinkyScreenshots/venuemod.png")
			img.screen(src="./static/clinkyScreenshots/venue.png")
			img.screen(src="./static/clinkyScreenshots/rating.png")
		#devTeam
			div
				h3.center Our Team
				.team
					.prof
						img(src="./static/team/doge.jpg")
						a(href="https://github.com/EagleWuDev")
							p.center Eagle Wu
					.prof
						img(src="./static/team/yinghang.jpg")
						a(href="https://github.com/yinghang")
							p.center Ying Hang Eng
					.prof
						img(src="./static/team/cole.jpg")
						a(href="https://github.com/crellison")
							p.center Cole Ellison
			div
				h3.center Built On
				#stack
					a(href="https://facebook.github.io/react-native/")
						img.tool(src="./static/svg/react.svg")
					a(href="https://nodejs.org/en/")
						img.tool(src="./static/svg/nodejs-icon.svg")
					a(href="https://expressjs.com/")
						img.tool(src="./static/svg/express-109.svg")
					a(href="https://www.mongodb.com/")
						img.tool(src="./static/svg/mongodb.svg")

	script.
		$('#initial').css({height: window.innerHeight})
		//- $('.screen').css({'max-width': window.innerWidth-60, 'max-height': window.innerHeight-40})
		$('#fixWidth').css({width: window.innerWidth-60})
		$('#devTeam').css({height: window.innerHeight})
		$('#download').click(e => $(e.target).text('NOT YET'))
		var name = '';
		$('body').keypress(e => {
			name += e.key;
			if (/sheena/i.test(name))
				$('.prof img:first').attr('src','./static/team/eagle.jpg');
			if (/abhi/i.test(name))
				$('.prof img').attr('src','./static/team/fitness.jpg');
			if (name.length > 6) name = '';
		})
